AMBIENTE_PROCESSO=desenvolvimento

APP_HOST=localhost
APP_PORT=3333

DB_HOST=127.0.0.1
DB_USER='usuario'
DB_PASSWORD='senha'
DB_DATABASE=banco_canalytics
DB_PORT=3306 

PORTA=3000
MINHA_CHAVE='chave-secreta-gemini'