.kpi-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

.kpi-indicadores {
    background-color: #EAF3DE;
    color: #27500A;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #01352c;
}

.kpi-valor {
    color: #3B6D11;
    font-size: 24px;
    font-weight: bold;
    margin: 12px 0 0 0;
}

.kpi-subtexto {
    color: #000000;
    font-size: 12px;
    margin: 5px 0 0 0;
}

h1 {
    color: #3B6D11;
    position: fixed;
    top: 8px;
    left: 30px;
    margin: 0;
    padding: 15px 0;
}

h1 span {
    color: #01352c;
    font-size: 16px;
    font-weight: normal;
}


.btn-2 {
    background-color: #3B6D11;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.btn-1 {
    background-color:white;
    color: #3B6D11;
    border: 2px solid #3B6D11;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}           

body.dashboard {
    background-color: white;
    padding-top: 90px; 
}
nav {
    background-color: #01352c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 8px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 70px; 
}
nav a {
    text-decoration: none;
    color: #3B6D11;
    font-weight: bold;
}

.btns-dash {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    padding: 0 30% 0 30%;
}


.btn-chart {
    font-family: 'Barlow', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: #65a359;          
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}


.btn-verde {
    color: white;
    background-color: #01352c;  
}


.btn-white {
    color: #65a359;
    background-color: white;
}



.display-none  { display: none;  }
.display-block { display: block; }

.tituloGraficos {
    color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.area-graficos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
}

.graph {
    width: 40%;
    min-width: 280px;
    margin: auto;
    padding-top: 10px;
}

.label-captura {
    display: flex;
    justify-content: center;
    min-height: 40px;
    padding: 8px 0;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}
