body {
    background-color:  #f5f5f5;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}


.kpi-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

.kpi-indicadores {
    background-color: #EAF3DE;
    color: #27500A;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #C0DD97;
}

.kpi-valor {
    color: #3B6D11;
    font-size: 24px;
    font-weight: bold;
    margin: 12px 0 0 0;
}

.kpi-subtexto {
    color: #000000;
    font-size: 12px;
    margin: 5px 0 0 0;
}

h1 {
    color: #3B6D11;
    position: fixed;
    top: 8px;
    left: 30px;
    margin: 0;
    padding: 15px 0;
}

h1 span {
    color: #97C459;
    font-size: 16px;
    font-weight: normal;
}



.barra-navegacao {
    background-color: #01352c;
    padding: 12px 0;
    width: 100%;
    
}

.container-navegacao {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu-lista {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    margin-left: 20px;
}

.link-menu {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.link-menu:hover {
    color: #97C459;
}
.link-menu-ativo:hover {
    color: #97C459;
}


